- header:
    model: VX
    nvue-api-version: nvue_v1
    rev-id: 1.0
    version: Cumulus Linux 5.6.0
- set:
    interface:
      lo:
        ip:
          address:
            {{ IP_LO_IPv4 }}: {}
            {{ IP_LO_IPv6 }}: {}
        type: loopback
      swp1:
        ip:
          address:
            {{ SWP1_IPv6 }}: {}
          vrf: Hamburg
      swp1-2,31,33:
        type: swp
      swp2:
        ip:
          address:
            {{ SWP2_IPv6 }}: {}
      swp31:
        ip:
          address:
            {{ SWP31_IPv6 }}: {}
          vrf: n-FEL
      swp33:
        ip:
          address:
            {{ SWP33_IPv6 }}: {}
          vrf: v-FEL
    router:
      bgp:
        autonomous-system: {{ ASN }}
        enable: on
        router-id: {{ RTR_ID }}
    system:
      hostname: {{ HOST_NAME }}
    vrf:
      Bremen: {}
      Hamburg:
        router:
          bgp:
            address-family:
              ipv6-unicast:
                enable: on
                network:
                  ::/0: {}
            enable: on
            neighbor:
              swp1:
                address-family:
                  ipv4-unicast:
                    enable: off
                  ipv6-unicast:
                    enable: on
                remote-as: external
                type: unnumbered
          static:
            default6:
              address-family: ipv6-unicast
              via:
                fd30:0008:1001:0101::1:
                  type: ipv6-address
                  vrf: n-FEL
      Hannover: {}
      Kiel: {}
      n-FEL:
        router:
          bgp:
            address-family:
              ipv6-unicast:
                enable: on
            enable: on
            neighbor:
              swp31:
                address-family:
                  ipv4-unicast:
                    enable: off
                  ipv6-unicast:
                    enable: on
                remote-as: internal
                type: unnumbered
      v-FEL:
        router:
          bgp:
            address-family:
              ipv6-unicast:
                enable: on
                route-import:
                  from-vrf:
                    enable: on
                    list:
                      Hamburg: {}
            enable: on
            neighbor:
              swp33:
                address-family:
                  ipv4-unicast:
                    enable: off
                  ipv6-unicast:
                    enable: on
                remote-as: internal
                type: unnumbered
